
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;500&display=swap');
  *{
    font-family: 'Mulish', sans-serif;
}
body{
    
    background-color: rgb(255, 210, 216);
    font-size: 15px;
	line-height: 20px;
}

#fotoperfil img{
    border-radius: 50%;
    width: 200px;
    border-width: 30px;
    border-style: solid;
    border-color: crimson;
    outline: 5px solid black;

h1{
    color: white;
    text-transform: uppercase;
    background-color: crimson;
    letter-spacing: 1px;
    padding:10px;
    padding-top:30px
}

.main_titles{
    padding:10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

