
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;500&display=swap');
  *{
    font-family: 'Mulish', sans-serif;
}

/*---------------LAYOUT--------------*/

.main_container {
    display: flex;
    width: 1200px;
    background: white;
    flex-direction: row-reverse;
    float: left;
}


body{
    
    background-color: rgb(255, 210, 216);
    font-size: 15px;
	line-height: 20px;
    padding: 40px 50px 50px;
}

#hero {
    background-color: crimson;
}
#hero h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding:10px;
    padding-top:30px
}
#hero h2 {
    color: white;
    letter-spacing: 2px;
    padding: 5px;
    padding-top:15px;
}
      
#fotoperfil img{
    border-radius: 50%;
    width: 200px;
    border-width: 10px;
    border-style: solid;
    border-color: crimson;
    outline: 1px solid whitesmoke;
    margin: 20px 15px; 
    text-align: ;
}

#sobremi {
    background-color: aqua ;
}

.main_titles{
    color: whitesmoke;
    padding:10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-color: rgb(170, 15, 46);
}


/* ---------------- ASIDE ---------------- */

aside {
    background-color: #732634;
    width: 30%;
    float: right;
}

aside * {
    color: whitesmoke;
}
aside h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 3px solid rgb(255, 210, 216);
}

dt {
    width: 20%;
    float: left;
    border-bottom: double whitesmoke;
}

dd {
    width: 10%;
    float: left;
    margin: 0;
}

.clear {
    clear: both;
}