
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;500&display=swap');
  *{
    font-family: 'Mulish', sans-serif;
}

/*---------------LAYOUT--------------*/

.main_container {
    display: flex;
    width: 100%;
    background: #fffafc;
}

main {
    width: 70%;
    margin-left: 10px;
}

body{

    background-color: #8F797E; 
	line-height: 20px;
    padding: 40px 50px 50px;
}

#hero {
    background-color: #FFC2B5;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 190px;
    height: 150px
}

#hero h1 {
    color: #646C8F;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding:10px;
    padding-top:30px
}
#hero h2 {
    color: #8F797E;
    letter-spacing: 2px;
    padding: 5px;
    padding-top:15px;
}

#fotoperfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 80px;
}

#fotoperfil img{
    border-radius: 50%;
    width: 200px;
    border-width: 10px;
    border-style: solid;
    border-color: #FFC2B5;
    outline: 1px solid #8F797E;
    margin: 20px 15px; 
}

.sobremi {
    margin-right: 10px;
}

.sobremi p {
    background-color: #F2CED8;
    color: #3b3134 ;
    font-weight: bold ;
}

.main_titles{
    color: whitesmoke;
    padding:10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-color: #615054;
}

.right_titles {
    color: whitesmoke;
    padding:10px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.subs {
    color:#504145;
    padding: 3px;
    letter-spacing: 2px;
    border-bottom: darkviolet;
    border-style: double;
}

dl {
    display: flex;
    flex-wrap: wrap;
}

dt {
    font-weight: bold;  
}

dt, dd { 
    flex-basis: 50%;
    margin: 0;
    line-height: 1.5em;
    border-bottom: 1px solid #504145;
}

ul {

}

/* ---------------- ASIDE ---------------- */

aside {
    background-color: #646C8F;
    width: 30%;
}

aside #div_vacio {
    background-color: #FFC2B5;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 150px
}
aside * {
    color: whitesmoke;
}
aside h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 1px solid rgb(255, 210, 216);
}